a {
  color: #FF7B00;
}

.jumbotron {
  background: #FAD961; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#FAD961, #F76B1C); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FAD961, #F76B1C); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FAD961, #F76B1C); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FAD961, #F76B1C); /* Standard syntax */
  color: white;
  text-shadow: #888 0 1px 1px;
}

.jumbotron code {
  color: white;
  text-shadow: #888 0 1px 1px;
  background: transparent;
}

.screenshot {
